.demo-split {
  display: flex;
  max-height: 200px;
  font-size: 14px;
  margin-bottom: 20px;
}
.demo-log {
  min-height: 150px;
  max-height: 150px;
  overflow-y: scroll;
  font-size: 10px;
  width: 70%;
}
.demo-code {
  background-color: #f4f5f6;
  color: #637c84;
  padding: 10px 20px;
  width: 30%;
}

:not(pre)>code {
  padding: .1em .3em;
  border-radius: .3em;
  font-size: .9em;
  color: #f25cc1;
  background: #ebeef0;
}

@media (max-width: 768px) {
  .demo-split {
    flex-direction: column;
    margin-bottom: 45px;
  }
  .demo-log, .demo-code {
    width: 90%;
  }
  .demo-code {
    font-size: 12px;
  }
}
