body {
  margin: 10px;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
}
#root {
  max-width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background: transparent;
  color: #000;
  transition: color 0.2s ease, background 0s ease;
}
button {
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  padding: 8px 20px;
  margin: 0 3px 6px 3px;
  text-align: center;
  border: solid 2px #000;
  text-decoration: none;
  color: #000;
  white-space: nowrap;
  z-index: 0;
  transition: color 0.2s ease, background 0s ease;
}
button:hover {
  color: #ffffff;
  background: #000;
  transition: color 0.2s ease, background 0.2s ease;
}

a {
  color: #2da5f7;
  text-decoration: none;
  font-weight: 500;
}
a:hover {
  color: #000;
}

.section-wrapper {
  display: flex;
  margin-bottom: 20px;
}

.section {
  margin-left: 25px;
}
.section h3 {
  margin-bottom: 10px;
}
.section button {
  margin-left: 5px;
}
.section a {
  margin-right: 15px;
  text-decoration: none;
  font-weight: 500;
}
.section button:first-of-type {
  margin-left: 0px;
}
.section:first-of-type {
  margin-left: 0px;
}
.kitchen-sink-title {
  display: flex;
  align-items: center;
}
.kitchen-sink-title button {
  margin-left: 15px;
}
@media (max-width: 768px) {
  button {
    padding: 8px 5px;
  }
}
